<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="customersCtrl">
		<div class="container">
			<div class="page-header">
				<h1>Task Tracker</h1>
			</div>
			<form ng-submit="submit()">
				<div class="form-group">
					<label for="pwd">Task Title:</label> <input	ng-model="task.title" class="form-control" id="title" placeholder="Enter Task Title"
						name="title">
				</div>
				<div class="form-group">
					<label for="pwd">Task Description:</label> <input ng-model="task.description" class="form-control" id="description" placeholder="Enter Task Description"
						name="description">
				</div>
				<button type="submit" class="btn btn-primary">Create New Task</button>
			</form>
			<hr>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Description</th>
					</tr>
				</thead>
				</tbody>
				<tr ng-repeat="task in tasks">
					<td>{{ task.id }}</td>
					<td>{{ task.title }}</td>
					<td>{{ task.description }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('customersCtrl', function($scope, $http) {
			$http.get("/tasks").then(function(response) {
				$scope.tasks = response.data;
			});
		});
	</script>

</body>
</html>